:root {
    --content-max-width: 1024px;
    --padding-vertical: 20px;
    --padding-horizontal: 40px;
    --color-accent: #ffa07a;
    --color-black: #0d0909;
    --transition-duration: .2s;
}

::selection {
    background-color: rgba(255, 160, 122, 0.7);
}

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    color: var(--color-black);
}

main {
    flex: 1;
    padding-bottom: 80px;
}

body > header, body > footer {
    flex: 0;
}

body > header {
    color: white;
    background-color: var(--color-black);
    box-shadow: 0px 1px 7px 0px var(--color-black);
}

body > header nav ul {
    margin: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

body > header nav ul li a {
    position: relative;
    display: block;
    color: inherit;
    text-decoration: none;
    transition: color var(--transition-duration);
}

body > header nav ul li a::first-letter {
    color: var(--color-accent);
}

body > header nav ul li a:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    height: 1px;
    max-width: 0;
    background-color: var(--color-accent);
    transition: max-width var(--transition-duration);
}

body > header nav ul li a:hover {
    color: var(--color-accent);
}

body > header nav ul li a:hover::after {
    max-width: 100%;
}

body > footer {
    font-size: 0.7rem;
    text-align: center;
    background-color: var(--color-accent);
    box-shadow: inset 0px 5px 15px -5px var(--color-black);
}

body > footer a {
    color: var(--color-black);
}

.container {
    max-width: var(--content-max-width);
    margin: 0 auto;
    padding: 20px var(--padding-horizontal);
    text-align: center;
}

.finger-down {
    margin-top: 0;
    font-size: 3rem;
}

.dotes-decorator {
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
}

.dotes-decorator span {
    display: inline-block;
    margin: 0 2px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: var(--color-accent);
}

blockquote::before {
    content: '\201C';
}

blockquote::after {
    content: '\201D';
}

.vote img {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 3px solid var(--color-black);
}
