<!DOCTYPE html>
<html lang="ru">
<head>
	{% block head %}
		<meta charset="utf-8">
		<title>
			{% block title %}
			{% endblock %}
		</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
<footer>
    {% block footer %}
		&copy; Copyright {{ "now"|date("Y") }} by <a href="https://github.com/PoliceAmunice">PoliceAmunice</a>.
    {% endblock %}
</footer>
</html>
