<header>
    <nav class="container">
        <ul>
            <li><a href="/">Main</a></li>
            <li><a href="/votes">Votes</a></li>
            <li><a href="/contacts">Contacts</a></li>
        </ul>
    </nav>
</header>
